*{
    margin: 0;
}
.container{
    text-align: center;
}
.title{
    font-family: "Railway", sans-serif;
    align-content: center;
}

.content{
    align-content: center;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Railway", Times, sans-serif;
}

#list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
}
ul {
    list-style-type: disc;
}
li a {
    text-decoration: underline;
    padding: 14px 16px;
}
  
li a:hover {
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    align-self: center;
    text-align: center;
}

#table-edits {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#bus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image{
    width: 400px;
    height: 200px;
    display: flex;
}